.icon {
  position: relative;
}

.icon a {
  display: block;
  color: pink; /* Change icon color */
  text-decoration: none;
}

.icon a:hover {
  color: #007bff; /* Change icon color on hover */
}

.icon svg {
  width: 30px; /* Adjust icon size */
  height: auto; /* Maintain aspect ratio */
}
