.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout fills the entire viewport */
}

.header {
  padding: 20px;
  background-color: #223F7E;
  display: flex;
  flex-direction: row;
  color: #fff;
   justify-content: space-between; /* Ensure components are evenly spaced */
  align-items: center;
}

.main {
  flex: 1; /* Allow the main content to expand to fill remaining space */
  padding: 20px;
}

.footer {
	padding: 20px;
  background-color: #223F7E;
  display: flex;
  flex-direction: row;
  color: #fff;
   justify-content: space-between; /* Ensure components are evenly spaced */
  align-items: center;
}

.contact {
  margin-top: 20px;
}

.contact legend {
  font-weight: bold;
}

.contact span {
  display: block;
  margin-bottom: 5px;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
